body {
    background-color: black;
    margin: 0;
    overflow-x: hidden;
} 

#intro, #info, #learning, #contact, h1 {
  width: 90%;
  color: white; 
  max-width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

#intro, #info, #learning, #contact, #skills, a {
    font-family: "consolas", sans-serif;
    font-size: 16px;
    border-style: solid;
    border-width: 3px;
    border-color: green;
    box-shadow: 0 0 10px green;
    border-radius: 10px; 
}


/*---Header---*/
h1 {
    color: #00ff00;
    font-family: "press Start 2P", "consolas", sans-serif;
    height: 50px;
}

#intro {
    height: 130px;
}


/*---Tech Stack---*/
#skills {
    color: white;
    border-color: #00ff00;
    border-style: solid;
    border-radius: 12px;
    width: 90%;
    margin: auto;
    font-family: "Consolas", sans-serif;
    padding: 20px;
}

#skills h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}

.skill-section {
    margin-bottom: 25px;
}

.skill-section h3 {
    font-size: 24px;
    color: #007f5f;
    margin-bottom: 10px;
}

.skill-section ul {
    list-style-type: square;
    padding-left: 20px;
}

.skill-section li {
    font-size: 18px;
    margin-bottom: 5px;
}


/*---Current Positon---*/
.web_surfing {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("/static/images/web_surfing_studio.png");
    background-position: center;
    background-size: cover;
    position: relative;  
    z-index: -1; 
    border-radius: 20px; 
    overflow: hidden;         
}

#info {
    width: 350px;
    height: 75px;
}

#learning {
    width: 350px;
    height: 50px;
}

/*---Contact---*/
#contact {
    font-family: "consolas", sans-serif;
    font-size: 30px;
    width: 200px;
    border: 3px solid green; 
    border-radius: 10px; 
}

#title {
    color: white;
}

#contact a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
}

a {
    text-align: center;
    border-style: none;
    box-shadow: none;
}

a:link, a:visited {
  color: #00ff00;
  font-weight: bold;
  font-family: "consolas", sans-serif;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #00ccff;
  text-decoration: underline;
}


/*---Movement---*/
.floating {
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: -1;
    left: 0;
    background-image: url("/static/images/computer.png");
    background-position: center;
    background-size: cover;
}

/*Turn off Caching in Network Tab when testing */