{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Joyal Paul</title>
    <link rel= "stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/computer.png' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>

<body>
    <h1>Joyal Paul</h1>

    <!--Background-->
    <div class="bg-section section1"></div>
    <div class="bg-section section2"></div>
    <div class="bg-section section3"></div>

    <!--Introduction-->
    <p id="intro">
        Hi! My name is Joyal! I am a Freshman at Binghamton University pursuing computer science with a passion for software development
        and emerging technologies. Currently, I am learning about circuitry, data structures, and different programming languages while improving my 
        proficiency in Python and C. I have experience with FIRST Robotics and FLL, and I am seeking internships and experiential learning opportunities.
    </p>

    <!--Teck Stack-->
    <section id="skills">
        <h2>Tech Stack</h2>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
        <div class="skills-columns">
            <!-- Left Column -->
            <div class="skills-left">
            <div class="skill-section">
                <h3>Backend Languages</h3>
                <ul>
                <li>Python (2 years) <i class="devicon-python-plain"></i></li>
                <li>C (6 months) <i class="devicon-c-plain"></i></li>
                <li>Assembly (6 months) <i class="fa-solid fa-microchip"></i></li>
                </ul>
            </div>

            <div class="skill-section">
                <h3>Frontend Languages</h3>
                <ul>
                <li>HTML (6 months) <i class="fa-brands fa-html5"></i></li>
                <li>CSS (6 months) <i class="fa-brands fa-css3-alt"></i></li>
                <li>JavaScript (3 months) <i class="fa-brands fa-js"></i></li>
                </ul>
            </div>
            </div>

            <!-- Right Column -->
            <div class="skills-right">
            <div class="skill-section">
                <h3>Web Development</h3>
                <ul>
                <li>Django (3 months) <i class="devicon-django-plain"></i></li>
                </ul>
            </div>

            <div class="skill-section">
                <h3>Tools & Technologies</h3>
                <ul>
                <li>Windows (7+ years) <i class="fa-brands fa-windows"></i></li>
                <li>Visual Studio Code (1 year) <i class="devicon-visualstudio-plain"></i></li>
                <li>Git & GitHub (1 year) <i class="fa-brands fa-git-alt"></i> / <i class="fa-brands fa-github"></i></li>
                <li>Vim (6 months) <i class="devicon-vim-plain"></i></li>
                <li>PyCharm (1 year) <i class="devicon-pycharm-plain"></i></li>
                </ul>
            </div>
            </div>
        </div>
    </section>



    <p></p>

    <!--Current Roles-->
    <div class="web_surfing"></div>
    <p id="info">Currently working as a Software Development Intorn at Web Surfing 
        Studios! Visit their page:<a href="https://websurfingstudios.com/">https://websurfingstudios.com/ </a>
    </p>


    <!--Currently Learning-->
    <p id="learning"> 
        Learning PyTorch and AWS to impove my skills in Machine Learning and Cloud Computing 
    </p>
    

    <!--Contacts-->
    <div id="contact">
        <p id="title">Contacts</p>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

        <a href="https://www.linkedin.com/in/joyal-paul-955280354/">
            LinkedIn: <i class="fa-brands fa-linkedin"></i>
        </a>

        <a href="https://github.com/JoyalMPaul">
            GitHub: <i class="fa-brands fa-github"></i>
        </a>

        <a href="mailto:joyalmathewpaul@gmail.com">
            Email: <i class="fa-solid fa-square-envelope"></i>
        </a>
    </div>

    <!--Animations-->
    <!--<div class="floating" id="computer1"></div>
    <div class="floating" id="computer2"></div>
    <script src="{% static 'javascript/animation.js' %}"></script>-->

</body>

</html>

<!---Turn off Caching in Network tab when testing-->