{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Website!!!</title>
    <link rel= "stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/computer.png' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>

<body>
    <h1>This is MY Website</h1>

    <!--Introduction-->
    <p id="intro">
        I am a freshman at Binghamton University pursuing computer science with a passion for software development
        and emerging technologies. Currently, I am learning about circuitry, data structures, and different programming languages while improving my 
        proficiency in Python and C. I have experience with FIRST Robotics and FLL, and I am seeking internships and experiential learning opportunities.
    </p>


    <!--Current Roles-->
    <div class="web_surfing"></div>
    <p id="info">Currently working as a Software Development Intorn at Web Surfing 
        Studios! Visit their page:<a href="https://websurfingstudios.com/">https://websurfingstudios.com/ </a>
    </p>


    <!--Contacts-->
    <p id="contact">Contacts</p>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <a href="https://www.linkedin.com/in/joyal-paul-955280354/">
        LinkedIn: <i class="fa-brands fa-linkedin"></i>
    </a>

    <a href="https://github.com/JoyalMPaul">
        GitHub: <i class="fa-brands fa-github"></i>
    </a>

    <a href="mailto:joyalmathewpaul@gmail.com">
        Email: <i class="fa-solid fa-square-envelope"></i>
    </a>
    
    <!--Animations-->
    <!--<div class="floating" id="computer1"></div>
    <div class="floating" id="computer2"></div>
    <script src="{% static 'javascript/animation.js' %}"></script>-->

</body>

</html>

<!---Turn off Caching in Network tab when testing-->